{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br>
<center>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{user.username}}</strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <h3>Add Department</h3>
        <br>
        {% for field in form %}
        {{field}} <br>
        {% endfor %}
        <hr>
        <input type="submit" class="btn btn-outline-secondary" value="Add Product">
    </form>
</center>
{% endblock %}