{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>TODO RECORDS</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <hr>
        <center>
            <input type="submit" class="btn btn-outline-secondary" value="SUBMIT">
        </center>
    </form>
    {% for item in searched %}
    <div class="row">
        <div class="col-lg-9">
            <div class="table-responsive table--no-card m-b-40">
                <table class="table table-borderless table-striped table-earning">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}